@import '../variables';

section.result {
  margin-bottom: 3em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border: 1px solid $main-theme-color;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(0,0,0, 0.5);
  font-family: 'helvetica';  
  width: 25%;
}


.result-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  h3 {
    margin: 0em;
    color: $tertiary-theme-color;
    text-align: center;
    margin-bottom: 1.5em;
  }

}

table {
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;

}

td {
  border-bottom: 1px solid $tertiary-theme-color;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: $tertiary-theme-color;
}

td.label {
  color: $tertiary-theme-color;

}

.bolded {
  font-weight: 600;
}

span.total-summary {
  color: grey;
  font-size: 3em;
  font-weight: 600;
}
