$main-theme-color: #F652A0;
$secondary-theme-color: #BCECE0;
$tertiary-theme-color: #4C5270;


@font-face {
  font-family: 'Kaushan Script' ;
  src: url('./assets/fonts/KaushanScript-Regular.ttf');
  font-weight: normal;
  font-size: normal;
}
