$font-stack: Helvetica;
$primary-color:#023047;
$secondary-color: #ffb703;
$tertiary-color: #fff;

section.result {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
  border: 1px solid $primary-color;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $primary-color;
  font-family: $font-stack;  
  width: 40%;
}

section {
  p {
    height: 2em;
    padding: .8em;
    border-bottom: 2mm ridge $primary-color;
  }
}

.result-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  h2 {
    margin: 0em;
    color: $primary-color;
    text-align: center;
  }

}

table {
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;

}

td {
  border-bottom: 1px solid $primary-color;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

td.label {
  font-weight: 600;
  color: $primary-color;
}
