$font-stack: Helvetica;
$primary-color: #F1DEC9;
$secondary-color: white;


body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font: $font-stack;
}

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation {
  width: 100%;
  height: 80px;
  margin: 0;
  padding:0px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 80px;
  margin: 0;
  padding:0px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    padding: .5em;
  }
}

.body{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  h1{
    text-align: center;
  }
}

nav {
  h2 {
    padding-left: 1em;
  }
  li {
    display: inline-block;
    padding: .5em;
  }
}

// results details

.result {
  background-color: $primary-color;
  padding: 1em;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: $font-stack;  
}

section {
  p {
    background-color: $secondary-color ;
    height: 2em;
    border-radius: 5px;
    padding: .8em;
  }
}

.result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  h2 {
    margin: 0em;
  }

  .close-button {
    width: 0.8em;
    height: 0.8em;
    filter: grayscale(70%);
  }
}
