$font-stack: Helvetica;
$primary-color:#023047;
$secondary-color: #ffb703;
$tertiary-color: #fff;


/*Formatting form input and labels*/

div.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5em;
}

label.form {
  width: 6.5em;
  font-weight: 600;
  color: $primary-color;
}

select.form {
  width: 15em;
  height: 2.5em;
  color: $primary-color
}

input.form {
  width: 14.5em;
  height: 2.0em;
}


